<div class="wrapper">
    <div class="logo">
        <img src="https://cdn-icons.flaticon.com/png/512/6024/premium/6024190.png?token=exp=1655808132~hmac=b2d0fad8b2ebd1a94e9e6d40bf52e9ca"
            alt="">
    </div>
    <div class="text-center mt-4 name">
        ADMIN
    </div>
    <form class="p-3 mt-3" action="/admin/login" method="post">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user icon-person"></span>
            <input type="text" name="email" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key icon-lock2"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3" type="submit">Login</button>
    </form>

</div>