<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">
    
          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            <form action="" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <input type="text" class="form-control border-0" placeholder="Search">
            </form>
          </div>
  
          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <a href="" class="js-logo-clone">ShoppI</a>
            </div>
          </div>
  
          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
  
            <div  class=" site-top-icons">
  
              <ul>
                {{#if user}}
                <li><a href="" ><span class="icon icon-person"></span></a></li>
  
                <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                {{else}}
                <li ><a href="/login"><span class="icon icon-person"></span></a></li>
                {{/if}}
                {{#if user}}
                <li>
                  <a href="/cart" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <span class="count">3</span>
                  </a>
                </li>
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                      class="icon-menu"></span></a>
                </li>
                
                <li><a href="" class="  btn-sm  ms-3">{{user.fName}}</a></li>
                <li><a href="/logout"> <span class="icon icon-system_update_alt"></span></a></li>
  
                {{else}}
                <li><a href="/login" class="  btn-sm  ms-3 ">Login</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
   
  </header>
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
     
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto text-center ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">about</a>
          </li>
           <li class="nav-item">
            <a class="nav-link " href="#" >Contact</a>
          </li>
           <li class="nav-item">
            <a class="nav-link " href="#">New Arrivals</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>