<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">

                </div>

                <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                    <div class="site-logo">
                        <a class="js-logo-clone">ShoppI</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 order-3 order-md-3 text-right">

                    <div class="site-top-icons">


                    </div>
                </div>


            </div>
        </div>
    </div>

</header>